---
title: Aktuell
layout: 
main_menu: true
weight: 5
permalink: /aktuell/
top_url: /aktuell/
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

	<section id="main" class="container">
		<header>
			<h1 class="post-title">{{ page.title }}</h1>
		</header>

<div class="box">
Stuff to put here:

* current nr of nodes & clients
* stats from the last week
* [live network view](http://map.freifunk-darmstadt.de)
</div>

<div class="box">

  <h2>Posts</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>


		
    </section>

    {% include footer.html %}

  </body>

</html>
