---
title: News
layout: 
main_menu: true
weight: 1
permalink: /aktuell/
top_url: /aktuell/
---

<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}
    <section id="main" class="container">
		<header>
			<h2 class="post-title">{{ page.title }}</h2>
		</header>
		
		<div class="row">
			<div class="8u 12u(3)">
				{% for post in site.posts %}

				<div class="box">
						<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

						<h3>
						  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
						</h3>
						
						{{ post.content }}
				</div>
				{% endfor %}
			<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
			</div>
			<div class="4u 12u(3)">
				<div class="box">
					<h3>Network status</h3>
					<ul>
						<li> Online nodes: X</li>
						<li> Online clients</li>
						<li> Traffic in the last 24h:</li>
						<li> Whatever else we find interesting (maybe some munin live plots</li>
					</ul>
					
					<h3>Karte</h3>
					<p><a href="/lokale-dienste/karte/" class="button special icon fa-globe">Karte anzeigen</a></p>
					<h3>Services*</h3>
					<ul>
						<li>list services here</li>
					</ul>
					<p>*these services are only accessible from within the network.</p>
				</div>
			</div>
		</div>
    </section>

    {% include footer.html %}

  </body>

</html>
