---
title: Aktuell
layout: 
main_menu: true
weight: 2
permalink: /aktuell/
top_url: /aktuell/
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
	<section id="main" class="container">
		<header>
			<h2 class="post-title">{{ page.title }}</h2>
		</header>

		<div class="box">
		Stuff to put here:

		* current nr of nodes & clients
		* stats from the last week
		* [live network view](http://map.freifunk-darmstadt.de)
		</div>

		{% for post in site.posts %}
		<div class="box">
				<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

				<h3>
				  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</h3>
				
				{{ post.content }}
		</div>
		{% endfor %}

		  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

    </section>

    {% include footer.html %}

  </body>

</html>
