---
title: Impressum
layout:
main_menu: true
weight: 7
permalink: /impressum/
top_url: /impressum/
---

<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
	{% include header.html %}
		<section id="main" class="container">
			<header>
	                        <h2 class="post-title">{{ page.title }}</h2>
	                </header>

			<div class="box" id="impressum">
				<p>Freifunk Darmstadt ist ein Projekt des <a href="https://chaos-darmstadt.de">Chaos-Darmstadt e.V.</a>, der im Vereinsregister des Amtsgerichts Darmstadt unter der Vereinregisternummer 3413 eingetragen ist. Der Verein ist gemeinnützig und finanziert sich über Mitgliedsbeiträge und <a href="/mitmachen/spenden/">Spenden</a>.</p>

				<h4>Postanschrift</h4>
				<blockquote>
					Chaos Darmstadt e.V.<br />
					Wilhelm-Leuschner-Straße 36<br />
					64293 Darmstadt<br />
					E-Mail: info@chaos-darmstadt.de<br />
					<!-- Telefon: +49 6151 6274854 oder +49 40 401801 9601 -->
				</blockquote>

				<h4>Bankverbindung</h4>
				<blockquote>
					Chaos Darmstadt e.V. <br/>
					Bank: Sparkasse Darmstadt <br/>
					IBAN: DE96 5085 0150 0000 7118 53 <br/>
					BIC: HELADEF1DAS <br/>
				</blockquote>

			</div>
		</section>
	{% include footer.html %}
	</body>
</html>
