---
title: Impressum
layout:
main_menu: true
weight: 6
permalink: /impressum/
top_url: /impressum/
---

<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
	{% include header.html %}
		<section id="main" class="container">
			<header>
	                        <h2 class="post-title">{{ page.title }}</h2>
	                </header>

			<div class="box" id="impressum">
				<p>Freifunk Darmstadt ist ein Projekt des <a href="https://chaos-darmstadt.de">Chaos-Darmstadt e.V.</a>, der im Vereinsregister des Amtsgerichts Darmstadt unter der Vereinregisternummer 3413 eingetragen ist. Der Verein ist gemeinnützig und finanziert sich über Mitgliedsbeiträge und Spenden.</p> 

				<h4>Postanschrift</h4>
				<blockquote>
					Chaos Darmstadt e.V.<br />
					Wilhelm-Leuschner-Strasse 36<br />
					64293 Darmstadt
				</blockquote>

				<h4>Bankverbindung</h4>
				<blockquote>
					Chaos Darmstadt e.V. <br/>
					Bank: Sparkasse Darmstadt <br/>
					IBAN: DE 965 085 015 000 007 118 53 <br/>
					BIC: HELADEF1DAS <br/>
				</blockquote>
				<p>Für Spenden muss im <strong>Verwendungszweck "Freifunk Darmstadt"</strong> vermerkt sein. Wir bedanken uns sehr herzlich für jede Spende. Auf Anfrage stellt der Vorstand zum Ende eines Geschäftsjahres Zuwendungsbescheinigungen aus.</p>
			</div>
		</section>
	{% include footer.html %}
	</body>
</html>
