---
title: Kontakt
permalink: /kontakt/
top_url: /kontakt/
main_menu: true
weight: 5
layout: 
---

<!DOCTYPE html>
<html>
  {% include head-cdamap.html %}

  <body onLoad="mapinit();">
    {% include header.html %}
    <section id="main" class="container">
		<header>
			<h2 class="post-title">{{ page.title }}</h2>
		</header>
		
		<p>Wir freuen uns, wenn du Kontakt mit uns aufnimmst, sei es persönlich bei einem unserer Treffen oder über das Internet.</p>
		
		<div class="row">
			<div class="6u 12u(3)">
				<div class="box">
						<h3>Treffen</h3>
						<p>Wir treffen uns jede Woche montags ab 19:00 Uhr, meist in der "Trollhöhle" des <a href="http://chaos-darmstadt.de/">Chaos Darmstadt e.V.</a>, in der Wilhelm-Leuschner-Straße 36. Im Hinterhof angekommen, befindet sich der Eingang am Ende der Metalltreppe.</p>
						<div id="map" style="height: 30em; border-radius:5px; margin: 1em 0;"></div>
						<h4>Anfahrt</h4>
						<ul>
							<li><strong>ÖPNV:</strong> Haltestellen Kahlertstraße, Willy-Brandt-Platz und Pallaswiesenstraße. Verbindungsauskunft auf der Seite des <a href="http://www.rmv.de/">RMV</a>.</li>
							<li><strong>PKW:</strong> Aufgrund der angespannten Parkplatzsituation im Johannesviertel empfehlen wir das Auto in einem <a href="http://www.parkopedia.de/parken/darmstadt/">Parkhaus</a> abzustellen.</li>
						</ul>
				</div>
			</div>
			<div class="6u 12u(3)">
				<div class="box">
					<h3>Kontaktdaten</h3>
					<p>Wenn es dir nicht möglich ist uns zu besuchen, dann gibt es natürlich noch alternative Kontaktwege:</p>
					<ul>
						<li><a href="mailto:info@freifunk-darmstadt.de">Email (info@freifunk-darmstadt.de)</a></li>
						<li><a href="http://www.twitter.com/freifunkDA">Twitter (@freifunkDA)</a></li>
						<li><a href="http://lists.freifunk.net/mailman/listinfo/darmstadt-freifunk.net">Mailing-Liste</a></li>
						<li><a href="https://chat.darmstadt.freifunk.net">Chat</a> (oder mit IRC-Client <a href="irc://irc.hackint.eu/ffda">irc://irc.hackint.eu/ffda</a></li>
					</ul>
				</div>
				
				<div class="box" id="spenden">
					<h3>Bankverbindung für Spenden</h3>
					<p>Chaos Darmstadt e.V. ist ein gemeinnütziger Verein, der sich ausschließlich über Mitgliedsbeiträge und Spenden finanziert.</p>
					
					<p>Wir benötigen aktuell 60€/Monat für die Netzwerkinfrastruktur. Die Kosten skalieren mit steigenden Nutzerzahlen und dem damit verbunden verbrauchten Traffic.</p>

					<p>Wir bedanken uns sehr herzlich für jeden Beitrag an:</p>
					<blockquote>
					Chaos Darmstadt e.V. <br/>
					Bank: Sparkasse Darmstadt <br/>
					IBAN: DE96508501500000711853 <br/>
					BIC: HELADEF1DAS <br/>
					<strong>Verwendungszweck "Freifunk Darmstadt"</strong>
					</blockquote>
					
					<p>Als gemeinnütziger Verein kann Chaos Darmstadt e.V. eine Zuwendungsbescheinigung auf Nachfrage ausstellen.</p>
				</div>
			</div>
		</div>
    </section>

    {% include footer.html %}

  </body>
</html>


