---
title: Kontakt
permalink: /kontakt/
top_url: /kontakt/
main_menu: true
weight: 6
layout: 
---

<!DOCTYPE html>
<html>
  {% include head-kontakt-map.html %}

  <body onLoad="mapinit();">
    {% include header.html %}
    <section id="main" class="container">
		<header>
			<h2 class="post-title">{{ page.title }}</h2>
		</header>
		
		<p style="text-align:center">Wir freuen uns, wenn du Kontakt mit uns aufnimmst, sei es persönlich bei einem unserer Treffen oder über das Internet.</p>
		
		<div class="box" id="treffen">
			<h3>Treffen</h3>
			<div id="map" style="height: 30em; margin: 1em 0; width: 45%; float: right; margin-left: 2em"></div>
			<p>Wir treffen uns jede Woche montags ab 19:00 Uhr, meist im Hackspace des <a href="https://chaos-darmstadt.de/">Chaos Darmstadt e.V.</a>, in der Wilhelm-Leuschner-Straße 36. Im Hinterhof angekommen, befindet sich der Eingang am Ende der Metalltreppe.</p>
			<h4>Anfahrt</h4>
			<ul>
				<li><strong>ÖPNV:</strong> Haltestellen Kahlertstraße, Willy-Brandt-Platz und Pallaswiesenstraße. Verbindungsauskunft auf der Seite des <a href="http://www.rmv.de/">RMV</a>.</li>
				<li><strong>PKW:</strong> Aufgrund der angespannten Parkplatzsituation im Johannesviertel empfehlen wir das Auto in einem <a href="http://www.parkopedia.de/parken/darmstadt/">Parkhaus</a> abzustellen.</li>
			</ul>
			<p>Fahrräder können im Innenhof abgestellt werden.</p>
		</div>
		<div class="box">
			<h3>Kontaktdaten</h3>
			<p>Wenn es dir nicht möglich ist uns zu besuchen, dann gibt es natürlich noch alternative Kontaktwege:</p>
			<ul>
				<li><a href="mailto:info@freifunk-darmstadt.de">Email (info@freifunk-darmstadt.de)</a></li>
				<li><a href="http://www.twitter.com/freifunkDA">Twitter (@freifunkDA)</a></li>
				<li><a href="http://www.facebook.com/freifunkDA">Facebook</a></li>
				<li><a href="https://plus.google.com/113942916935529162777/">Google+</a></li>
				<li><a href="http://lists.freifunk.net/mailman/listinfo/darmstadt-freifunk.net">Mailing-Liste</a></li>
				<li><a href="https://chat.darmstadt.freifunk.net">Chat</a> (oder mit IRC-Client <a href="irc://irc.hackint.eu/ffda">irc://irc.hackint.eu/ffda</a>)</li>
			</ul>
		</div>
    </section>

    {% include footer.html %}

  </body>
</html>


