---
title: News
layout: 
main_menu: true
weight: 1
permalink: /news/
top_url: /news/
---

<!DOCTYPE html>
<html>
  {% include head-network-state.html %}

  <body onload="netstate_init()">
    {% include header.html %}
    <section id="main" class="container">
		<header>
			<h2 class="post-title">{{ page.title }}</h2>
		</header>
		<div class="row">
			<div class="8u 12u(3)">
				{% for post in site.posts %}
				<div class="box">
						<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

						<h3>
							<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
						</h3>

						{{ post.content }}
				</div>
				{% endfor %}
				<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
			</div>
			<div class="4u 12u(3)">
				<div class="box">
					<h3>Nächstes Treffen</h3>
					<p>Montag, 16. Februar um 19 Uhr im <a href="/kontakt/#treffen">Chaos Darmstadt</a>.</p>
				</div>
				<div class="box">
					<h3>Statistik</h3>
					<p id="net_state_loading"><span class="fa fa-refresh fa-spin"></span> Lade Statusdaten</p>
					<ul>
						<li><a href="/zugangspunkte/">Zugangspunkte</a>: <span id="net_state_nodes">...</span></li>
						<li>Endgeräte: <span id="net_state_clients">...</span></li>
						<li>Traffic: <span id="net_state_traffic">...</span></li>
					</ul>
				</div>
			</div>

		</div>
    </section>

    {% include footer.html %}

  </body>

</html>
