---
title: News
layout:
main_menu: true
weight: 1
permalink: /news/
top_url: /news/
---

<!DOCTYPE html>
<html>
  {% include head-news.html %}

  <body onload="netstate_init()">
    {% include header.html %}
    <section id="main" class="container">
		<header>
			<h2 class="post-title">{{ page.title }}</h2>
		</header>
		<div class="row">
			<div class="8u 12u(3)">
				{% for post in site.posts %}
				<div class="box">
						<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

						<h3>
							<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
						</h3>

						<div class="post-content">
                                                {{ post.content }}
                                                {% include social.html post=post %}
                                                </div>
				</div>
				{% endfor %}
				<p class="rss-subscribe">
					<a href="{{ "/feed.xml" | prepend: site.baseurl }}">
					<span class="fa-stack fa-sm">
						<i class="fa fa-square-o fa-stack-2x"></i>
						<i class="fa fa-rss fa-stack-1x"></i>
					</span>
					RSS-Feed
					</a> abonnieren
				</p>
			</div>
			<div class="4u 12u(3)">
				<div class="box">
					<h3>Nächstes Treffen</h3>
					<p><span id="next_meet_date">N&auml;chsten Montag</span> um 19:00 Uhr im <a href="/kontakt/">Chaos Darmstadt</a>.</p>
				</div>
				<div class="box">
					<h3>Statistik</h3>
					<p id="net_state_loading"><span class="fa fa-refresh fa-spin"></span> Lade Statusdaten</p>
					<ul>
						<li><a href="/zugangspunkte/">Zugangspunkte</a>: <span id="net_state_nodes">...</span></li>
						<li>Endgeräte: <span id="net_state_clients">...</span></li>
						<li>Traffic: <span id="net_state_traffic">...</span></li>
					</ul>
				</div>
				<div class="box">
					<h3>Boosten</h3>
					<p>Jetzt durch deinen Einkauf den Freifunk in Darmstadt und Umgebung boosten!</p>

					<div style="text-align: center;">
						<script>
						  var fileref = document.createElement("link");
						  fileref.setAttribute("rel", "stylesheet");
						  fileref.setAttribute("type", "text/css");
						  fileref.setAttribute("href", "https://www.boost-project.com/assets/button.css");
						  document.getElementsByTagName("head")[0].appendChild(fileref);
						</script>
						<a class="boost-button-weroiby1" target="_blank" href="https://www.boost-project.com/de/shops?charity_id=3433&tag=bb">Unterstützen Sie uns mit<br>
						Ihrem Online-Einkauf<br>
						<span style='font-weight:normal;'>ohne Extrakosten</span>
						</a>
					</div>
				</div>
				<div class="box">
					<h3>Spenden</h3>
					<p>Unser aktueller Spendenstand. <a href="/mitmachen/spenden/">mehr...</a></p>

					<div style="text-align: center;">
						<iframe frameborder="0" marginheight="0" marginwidth="0" src="https://www.betterplace.org/de/projects/27613-freifunk-darmstadt/widget" width="160" height="260" style="text-align: center; border: 0; padding:0; margin:0;">Ihr Browser unterstützt keine Iframes. <a href="https://www.betterplace.org/projects">Online Spenden</a> auf betterplace.org</iframe>
					</div>
				</div>
			</div>

		</div>
    </section>

    {% include footer.html %}

    <script>
        moment.locale('de');
        var nextDate;
        if (moment().isSame(moment().weekday(0), 'day'))
            nextDate = moment().weekday(0);
        else
            nextDate = moment().weekday(7);

        $('#next_meet_date').text(nextDate.format('D. MMMM'));
    </script>

  </body>

</html>
