---
title: Unterstützte Geräte
layout: 
sub_menu: true
top_url: /mitmachen/
sub_weight: 3
permalink: /mitmachen/unterstuetzte-geraete/
---

<html>
  {% include head.html %}

  <body>
    {% include header.html %}
    <section id="main" class="container">
                <header>
                        <h2 class="post-title">{{ page.title }}</h2>
                </header>


		<p>Um einen eigenen Freifunk-Router zu betreiben benötigt du zunächst einen kompatiblen WLAN-Accesspoint oder Router. Als Grundlage muss das Gerät mindestens mit der aktuellen Version der Embedded-Distribution <a href="https://openwrt.org/">OpenWRT</a> kompatibel sein. Es gibt einige Wege an ein kompatibles Gerät zu kommen:</p>

		<ul>
			<li>ein bereits vorhandenes Gerät recyclen</li>
			<li> ein unterstütztes Gerät erwerben</li>
			<li>bei uns einen vorkonfigurierten WLAN-Router zum Selbstkostenpreis abholen</li>
		</ul>

		<p>Wenn du ein Gerät schon hast, oder selber kaufen willst, überprüfe zuvor ob bereits eine Firmware dafür existiert. Das kann man auf der <a href="http://firmware.freifunk-darmstadt.de">Firmware-Downloadseite</a> einsehen, aber auch <a href="/kontakt/">von uns</a> erfahren. Die übliche Router-Hardware vom DSL- oder Kabelprovider ist hierfür in der Regel nicht geeignet.</p>

		<p>In Abhängigkeit von Lage, erwarteter Nutzerzahlen und benötigter Bandbreite empfehlen wir eine Reihe unterschiedlicher Modelle:</p>


		<div class="row">
			<div class="4u 12u(2)">
				<section class="box">
					<h3>Privat</h3>
					Einsteiger
					<ul>
						<li>WR1043ND, ~40 €</li>
						<li>WDR4300, ~50 €</li>
					</ul>
					Enthusiasten
					<ul>
						<li>Archer C5, ~70 €</li>
						<li>Archer C7, ~90 €</li>
					</ul>
				</section>
			</div>
			<div class="4u 12u(2)">
				<section class="box">
					<h3>Geschäftlich</h3>
					<ul>
						<li>WDR4300, ~50 €</li>
						<li>Archer C5/C7, 70-90 €</li>
					</ul>
				</section>
			</div>
			<div class="4u 12u(2)">
				<section class="box">
					<h3>Outdoor</h3>
					Endnutzerversorgung (mit unserer Firmware)
					<ul>
						<li>CPE210/510, ~45 €</li>
						<li>Bullet (mit eigener Antennenwahl, kein MIMO), ab ~60 €</li>
					</ul>
					WLAN-Backbone/Richtfunk (mit Originalfirmware)
					<ul>
						<li>Bullet M, ab ~60 €</li>
						<li>NanoStation M, ab ~70 €</li>
						<li>Rocket M, ab ~75 € </li>
					</ul>
				</section>
			</div>
		</div>
	</section>

	{% include footer.html %}
	        
  </body>
	                      
</html> 
