<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="landing">

    {% include header.html %}

	<section id="banner">
		<h2>{{ site.title }}</h2>
		<p>{{ site.tagline }}</p>
		<ul class="actions">
			<li><a href="#" class="button special">Mach mit!</a></li>
			<li><a href="#" class="button">Wo gibt es schon überall Freifunk?</a></li>
		</ul>
	</section>
			
	<section id="main" class="container">
		<section class="box special">
			<header class="major">
				<h2>{{ site.description }}</h2>
				<p>foo</p>
			</header>

			{{ site.description }}
		</section>
		<section>
			{{ content }}
		</section>
    </section>

    {% include footer.html %}

  </body>

</html>
